.header {
  border: 2px solid;
  display: flex;
  align-items: center;

  .menu {
    ul {
      display: flex;
      list-style: none;
      li {
        margin: 0 10px;
        cursor: pointer;
      }
    }
  }
}
